CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
DB_SEEDERS_FILE=/app/seeders/seed.csv

KAFKA_BROKERS=kafka:9092

SUPERSET_SECRET_KEY=your-super-secret-key-make-it-very-long-and-random
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=my_secure_password_123
SUPERSET_ADMIN_EMAIL=admin@example.com