# 📜 Log-files 
logs  
venv
*.log  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
lerna-debug.log*  

# 🔒 COnfidentional environment files
.env  

# 📦 Node.js dir
node_modules/  

# 🚀 Dist dirs
dist/  
dist-ssr/  

# ⚙️ Compiled c/c++ files
*.o   # Объектные файлы  
*.a   # Архивные библиотеки  
*.so  # Разделяемые библиотеки  

# 🚧 Temporary build files  
_obj/  
_test/  
vendor/  # Внешние зависимости (можно закоммитить, если нужно)  
air.toml

# 🛠️ Temporary dir (air)  
tmp/  

# 🍏 MacOS system files  
.DS_Store  

# 🗂️ Binary go-files  
/bin/  

# 🎨 Editors files
/.vscode
/.vscode/*  
/.devcontainer/*
!.vscode/extensions.json  
.idea  
*.suo  
*.ntvs*  
*.njsproj  
*.sln  
*.sw?


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
parser/venv
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip
=======
*.sw?

# Игнорировать все JSON-файлы
*.json

# Игнорировать все CSV-файлы
*.csv

# Игнорировать все Excel-файлы
*.xlsx