tqdm
python-dotenv
loguru
typer

requests
httpx
beautifulsoup4
lxml
selenium
fake-useragent
aiohttp
parsel
html5lib

numpy
pandas
openpyxl
xlrd
tabulate

scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

matplotlib
seaborn
plotly

jupyter
notebook
ipython
jupyterlab

black
isort
flake8
mypy
pre-commit